
.myfix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

 #ww
{
    position: relative;
    width: 100%;
    height:710px;
    display: flex;
    text-align: left;

    margin: 0 auto;
    
    background-color: white;
}

#profile, #contents, #social{
    /*border: 1px solid #999;*/
    margin: 5px; 
    padding: 25px 10px 30px 10px ;  /* 상우하좌 시계방향  padding:10px */
  /*  padding-top: 25px; */
    word-wrap: break-word;
  /*  overflow: hidden; */

}

#profile{
    background-color:pink;
    flex-basis: 200px;
    min-width: 200px;
    text-align: center;
    overflow: hidden;    
}

#contents{
    display:list-item;
    background-color:pink;
    flex: 1;
    min-width: 600px;
    overflow:hidden;
}

#social{
    
    background-color:pink;
    flex-basis: 200px;
    min-width: 200px;
    text-align: center;
    overflow: hidden;    
}

/***********************************/

/* 프로필 관련*/

#profile_image{
    margin: 0 auto;
    width:150px;
    height: 150px;
    background-image:url(OI_resource/images/user.png);
    background-size:cover;
    color:white;
}

/* 컨텐츠 관련 */

#showJoinroom{
    margin: 0 auto;
    height: 50%;
    flex: 1;
    background-color: aqua;
}


#showMyspaces{
    margin: 0 auto;
    height: 50%;
    flex: 1;
    background-color: aquamarine;
    text-align: center;
}
