{%load static%}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hometerenting Tutorial</title>

<link rel="stylesheet" type="text/css" href="{% static 'helpStyles.css'%}" />

</head>

<body>
    <center>    
    <br><h1 id ="pageNum">튜토리얼(1/12)</h1><br>
    </center>
<div id="slideshow">

	<ul class="slides">
    	<li><img src="{% static 'OI_resource/images/tutorial/photos/help (1).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (2).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (3).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (4).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (5).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (6).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (7).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (8).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (9).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (10).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (11).PNG'%}"/></li>
        <li><img src="{% static 'OI_resource/images/tutorial/photos/help (12).PNG'%}"/></li>
    </ul>

    <span class="arrow previous"></span>
    <span class="arrow next"></span>
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'slideshow/script.js'%}"></script>
</body>
</html>
