{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <script type="text/javascript" src="{% static 'Jquery/jquery.js'%}"></script>
    
    <!-- socket -->
    <script src="{% static 'socket.io.js'%}"></script>
    
</head>

<body>

<div>
Google Cloud Speech - Streaming Recognition Test (nodejs) <br>

<br>
<button id="startRecButton" type="button"> Start recording</button>
<button id="stopRecButton" type="button"> Stop recording</button>
<br>

</div>  

<div>
    <p id="ResultText">
        <span id="greyText">No Speech to Text yet<span>
    </p>
</div>
        
<!--button id="start">start</button> <br-->
<textarea id="textArea"></textarea>



<script>
    
// socket
const socket = io.connect('https://www.oddidea.xyz:3001'); //connection to socket 

//================= CONFIG =================
// Stream Audio
let bufferSize = 2048,
	AudioContext,
	context,
	processor,
	input,
	globalStream;

//vars
let audioElement = document.querySelector('audio'),
	finalWord = false,
	resultText = document.getElementById('ResultText'),
	removeLastWord = true,
	streamStreaming = false;


//audioStream constraints
const constraints = {
	audio: true,
	video: false
};
    
    
/*
$("#start").click(function () {
    startRecording()
    //document.getElementById('textArea').value = "testing";
}); */
    
/* ******* client.js ******** */
    
//================= INTERFACE =================
var startButton = document.getElementById("startRecButton");
startButton.addEventListener("click", startRecording);

var endButton = document.getElementById("stopRecButton");
endButton.addEventListener("click", stopRecording);
//endButton.disabled = true;
    
function startRecording() {
    
  //  socket = io.connect('https://www.oddidea.xyz:3001'); //connection to socket 
    var info = {
        nickName : "user"//,
        //msg : "hihi"
    }                  
    socket.emit('join', info);
    
	startButton.disabled = true;
	endButton.disabled = false;
	initRecording();

}
    
function initRecording() {
	socket.emit('startGoogleCloudStream', ''); //init socket Google Speech Connection
	streamStreaming = true;
	AudioContext = window.AudioContext || window.webkitAudioContext;
	context = new AudioContext();
	processor = context.createScriptProcessor(bufferSize, 1, 1);
	processor.connect(context.destination);
	context.resume();

	var handleSuccess = function (stream) {
		globalStream = stream;
		input = context.createMediaStreamSource(stream);
		input.connect(processor);

		processor.onaudioprocess = function (e) {
			microphoneProcess(e);
		};
	};

	navigator.mediaDevices.getUserMedia(constraints)
		.then(handleSuccess);
}
function microphoneProcess(e) {
    var left = e.inputBuffer.getChannelData(0);
	var left16 = convertFloat32ToInt16(left);
	socket.emit('binaryData', left16);
}
// sampleRateHertz 16000 //saved sound is awefull
function convertFloat32ToInt16(buffer) {
	let l = buffer.length;
	let buf = new Int16Array(l / 3);

	while (l--) {
		if (l % 3 == 0) {
			buf[l / 3] = buffer[l] * 0xFFFF;
		}
	}
	return buf.buffer
}  
    
      
function stopRecording() {
	// waited for FinalWord
	startButton.disabled = false;
	endButton.disabled = true;
	streamStreaming = false;
	socket.emit('endGoogleCloudStream', '');


	let track = globalStream.getTracks()[0];
	track.stop();

	input.disconnect(processor);
	processor.disconnect(context.destination);
	context.close().then(function () {
		input = null;
		processor = null;
		context = null;
		AudioContext = null;
	//	startButton.disabled = false;
	});

	// context.close();


	// audiovideostream.stop();

	// microphone_stream.disconnect(script_processor_node);
	// script_processor_node.disconnect(audioContext.destination);
	// microphone_stream = null;
	// script_processor_node = null;

	// audiovideostream.stop();
	// videoElement.srcObject = null;
}

//================= SOCKET IO =================
socket.on('connected', function (data) {
    console.log("[success]", data);
	//document.getElementById('textArea').value = data;
});

socket.on('speechData', function (data) {
    console.log("socket.on _speechData_ : ", data);
    console.log("data.results[0].alternatives[0].transcript : ", data.results[0].alternatives[0].transcript);
    
    document.getElementById('greyText').value = data.results[0].alternatives[0].transcript;
    document.getElementById('textArea').value = data.results[0].alternatives[0].transcript;
    /*
	// console.log(data.results[0].alternatives[0].transcript);
	var dataFinal = undefined || data.results[0].isFinal;

	if (dataFinal === false) {
		// console.log(resultText.lastElementChild);
		if (removeLastWord) { resultText.lastElementChild.remove(); }
		removeLastWord = true;

		//add empty span
		let empty = document.createElement('span');
		resultText.appendChild(empty);

        
		//add children to empty span
		let edit = addTimeSettingsInterim(data);

		for (var i = 0; i < edit.length; i++) {
			resultText.lastElementChild.appendChild(edit[i]);
			resultText.lastElementChild.appendChild(document.createTextNode('\u00A0'));
		}
        
        
	} else if (dataFinal === true) {
		resultText.lastElementChild.remove();

		//add empty span
		let empty = document.createElement('span');
		resultText.appendChild(empty);

		//add children to empty span
		let edit = addTimeSettingsFinal(data);
		for (var i = 0; i < edit.length; i++) {
			resultText.lastElementChild.appendChild(edit[i]);
			resultText.lastElementChild.appendChild(document.createTextNode('\u00A0'));
		}

		console.log("Google Speech sent 'final' Sentence.");
		finalWord = true;
		endButton.disabled = false;

		removeLastWord = false;
	}
    */
    
});

// 페이지에서 나갈 시 이벤트
window.onbeforeunload = function () {
	if (streamStreaming) { socket.emit('endGoogleCloudStream', ''); }
    socket.disconnect();
};
    

 
</script>

</body>

</html>