{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
<!-- CSS Styles -->
	<style>
      .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
      .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
      .speech img {float: right; width: 40px }
    </style>
    
    <script type="text/javascript" src="{% static 'Jquery/jquery.js'%}"></script>
</head>


<body>

<!-- Search Form -->
<form id="labnol" method="get" action="https://www.google.com/search">
    <div class="speech">
        <input type="text" name="q" id="transcript" placeholder="Speak" />
        <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    </div>
</form>


<!--audio id="music" loop src="{% static 'OI_resource/sounds/chatbot/imready.mp3'%}" autoplay> </audio-->
<!--audio id="music" src="{% static 'OI_resource/sounds/chatbot/imready.mp3'%}"> </audio-->

<audio id="chatbot"> </audio>
<input type="hidden" id="chatbot_val" value="waiting">

<!-- HTML5 Speech Recognition API -->
<script>

 //   var audio = new Audio();
    var controll = 1;
    var interval;
    var chbot_val;
    if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();
        console.log(recognition);
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.lang = "ko-KR"; //recognition.lang = "en-US";

        recognition.onresult = function(e) {
            //console.log(e);
            var result = e.results[0][0].transcript;
            result = result.replace(/ /gi, ""); // 공백 제거
            
            document.getElementById('transcript').value = result;

            chbot_val = document.getElementById('chatbot_val').value;
            console.log("outside - ", chbot_val); //console.log("outside - ", result);
            if(chbot_val == "waiting")
            {
                console.log("waiting 내부");
                if(result == "집사" || result == "집사야"){
                    
                    console.log("네 말씀하세요.");
                    // var audio = new Audio('/static/OI_resource/sounds/chatbot/imready.mp3'); audio.play();
                    chatbot.src = '/static/OI_resource/sounds/chatbot/imready.mp3';
                    chatbot.play();

                    $("#chatbot_val").attr("value","listening");
                    //recognition.abort();
                    recognition.stop();
                }
            }
            else if(chbot_val == "listening")
            {
                console.log("listening 내부");
                switch(result)
                {        
                    case "됐어" :
                    case "고마워" :
                    case "아니야" :
                        console.log("즐거운 하루 되세요.");
                        chatbot.src = '/static/OI_resource/sounds/chatbot/haveaniceday.mp3';
                        chatbot.play();
                        // var audio = new Audio('/static/OI_resource/sounds/chatbot/haveaniceday.mp3'); audio.play();
                        $("#chatbot_val").attr("value","waiting");
                        //recognition.abort();
                        recognition.stop();
                        break;
                        
                    case "tv켜" :
                    case "tv켜줘" :
                    case "TV켜" :
                    case "TV켜줘" :
                        console.log("(TV켜줘)알겠습니다.");
                        $("#chatbot_val").attr("value","listening");
                        break;
                }
            }
            //    recognition.stop();
            //    document.getElementById('labnol').submit();
        };

        recognition.onerror = function(e) {
            console.log("온에러");
            recognition.stop();
        }

        recognition.onend = function(event) {
            console.log("끝-다시시작");
          //  recognition.start();
        }

        function resetVoiceRecog() {
            recognition.stop();
        }
        //interval = setInterval(resetVoiceRecog, 5000);
        
        recognition.start();

    }
</script>
</body>

</html>