body{
    margin: auto;
}

.container{
    background-color: antiquewhite;
    
}
.part1{
    background-color: blue;
    height: 100%;
    width: 33%;
    position: absolute;
}
.part2{
    background-color: coral;
    height: 100%;
    width: 33%;
    position: absolute;
    left: 33%;
}
.part3{
    background-color: magenta;
    height: 50%;
    width: 33%;
    position: absolute;
    left: 66%;
}
.part4{
    background-color: lawngreen;
    height: 50%;
    width: 33%;
    position: absolute;
    left: 66%;
    top:50%;
}
