#VRbutton {
	position: absolute;
	bottom:5%;
	left:50%;
	background-color: aqua;
	z-index: 10px;
    display: none;
}
#playWindowVR {
	position: absolute;
	margin:auto;

	top : 35px;
	left : 0px;

	display : block; 
	width: 400px;
	height : 250px; 
}

#bodyupdateVR{
    overflow-y :auto;
    min-height: 200px;
}
#mulRoombodyVR{
    overflow-y :auto;
    max-height: 200px;
}

#creatWindowVR {
    width: 800px;
    height: 600px;
    display: none;

    position: absolute;
    margin: auto;
    top : 50px;
    left : 300px;
}
.VRnavbar{
	height: 50px;
}
#PW_body2{
	position: relative;
	top: -219px;
	left: 400px;
	min-height: 370px;
}
#searchRoom{
	width: 100px;
}